a.thumbnailEvent__link(href=link(content.contents_content))
  figure.thumbnailEvent__media
    img.thumbnailEvent__media__image(alt=content.contents_content.data.image.alt src=content.contents_content.data.image.url)

  span.thumbnailEvent__date=content.contents_content.data.date
  span.thumbnailEvent__title=content.contents_content.data.name
  span.thumbnailEvent__place=content.contents_content.data.place

  .thumbnailEvent__buttons
    button.thumbnailEvent__buttons__button="Ajouter à mon calendrier"
    button.thumbnailEvent__buttons__button="Partager"

