section.thumbnail
  a.thumbnail__wrapper(href=link(thumbnail))
    .thumbnail__content
      .thumbnail__info
        .thumbnail__info__reading
          .thumbnail__info__reading__views
            span='0'
          .thumbnail__info__reading__duration
            span=thumbnail.data.duration

        .thumbnail__info__titles
          h1.thumbnail__info__titles__title=thumbnail.data.name
          span.thumbnail__info__titles__paragraph.text--large=thumbnail.data.chapeau

        .thumbnail__info__others
          span.thumbnail__info__others__date.text--medium=thumbnail.data.date
          div.thumbnail__info__others__dot
          span.thumbnail__info__others__tag.text--medium=thumbnail.tags[0]

      button.thumbnail__button='Découvrir'

    figure.thumbnail__media
      img.thumbnail__media__image(alt=thumbnail.data.image.alt src=thumbnail.data.image.url)
