mixin article-thumbnail(_url, _src, _alt, _title, _date, _tag)
  a.thumbnail__article(href=link(_url))
    figure.thumbnail__article__media
      img.thumbnail__article__media__image(alt=_alt src=_src)

    span.thumbnail__article__title=_title

    .thumbnail__article__info
      span.thumbnail__article__info__date=_date
      span.thumbnail__article__info__tag=_tag


mixin event-thumbnail(_url, _src, _alt, _title, _date, _place)
  a.thumbnail__event(href=link(_url))
    figure.thumbnail__event__media
      img.thumbnail__event__media__image(alt=_alt src=_src)

    span.thumbnail__event__date=_date
    span.thumbnail__event__title=_title
    span.thumbnail__event__place=_place

    .thumbnail__event__buttons
      button.thumbnail__event__button
        span='Ajouter à mon calendrier'

      button.thumbnail__event__button
        span='Partager'


mixin article-wrapper(_headline, _number, _url, _button)
  - let limit = []
  section.category
    h2.category__title=_headline + ' (' + _number + ')'
    .category__top__wrapper
      .category__top__left__wrapper
      - limit = [0, 1]
        each entry in limit
          - if(_headline === 'Actualités')
            +article-thumbnail(home.data.actus[entry].actus_actu, home.data.actus[entry].actus_actu.data.image.url, home.data.actus[entry].actus_actu.data.image.alt, home.data.actus[entry].actus_actu.data.name, home.data.actus[entry].actus_actu.data.date, home.data.actus[entry].actus_actu.tags[0])

          - if(_headline === 'Inspirations')
            +article-thumbnail(home.data.inspis[entry].inspis_inspi, home.data.inspis[entry].inspis_inspi.data.image.url, home.data.inspis[entry].inspis_inspi.data.image.alt, home.data.inspis[entry].inspis_inspi.data.name, home.data.inspis[entry].inspis_inspi.data.date, home.data.inspis[entry].inspis_inspi.tags[0])

      .category__top__right__wrapper
        - limit = [2, 3]
        each entry in limit
          - if(_headline === 'Actualités')
            +article-thumbnail(home.data.actus[entry].actus_actu, home.data.actus[entry].actus_actu.data.image.url, home.data.actus[entry].actus_actu.data.image.alt, home.data.actus[entry].actus_actu.data.name, home.data.actus[entry].actus_actu.data.date, home.data.actus[entry].actus_actu.tags[0])

          - if(_headline === 'Inspirations')
            +article-thumbnail(home.data.inspis[entry].inspis_inspi, home.data.inspis[entry].inspis_inspi.data.image.url, home.data.inspis[entry].inspis_inspi.data.image.alt, home.data.inspis[entry].inspis_inspi.data.name, home.data.inspis[entry].inspis_inspi.data.date, home.data.inspis[entry].inspis_inspi.tags[0])

    .category__bottom__wrapper
      - limit = [4, 5]
      each entry in limit
          - if(_headline === 'Actualités')
            +article-thumbnail(home.data.actus[entry].actus_actu, home.data.actus[entry].actus_actu.data.image.url, home.data.actus[entry].actus_actu.data.image.alt, home.data.actus[entry].actus_actu.data.name, home.data.actus[entry].actus_actu.data.date, home.data.actus[entry].actus_actu.tags[0])

          - if(_headline === 'Inspirations')
            +article-thumbnail(home.data.inspis[entry].inspis_inspi, home.data.inspis[entry].inspis_inspi.data.image.url, home.data.inspis[entry].inspis_inspi.data.image.alt, home.data.inspis[entry].inspis_inspi.data.name, home.data.inspis[entry].inspis_inspi.data.date, home.data.inspis[entry].inspis_inspi.tags[0])

      a.category__link(href=link(_url))=_button


mixin event-wrapper(_headline, _number, _url, _button)
  - let limit = []
  section.category
    h2.category__title=_headline + ' (' + _number + ')'
    .category__row
    - limit = [1, 2, 3]
      each entry in limit
        +event-thumbnail(home.data.events[entry].events_event, home.data.events[entry].events_event.data.image.url, home.data.events[entry].events_event.data.image.alt, home.data.events[entry].events_event.data.name, home.data.events[entry].events_event.data.date, home.data.events[entry].events_event.data.place)

      a.category__link(href=link(_url))=_button


